{% extends "layout.html" %}

{% block title %}
    dhall hacks
{% endblock %}
hack your meal
<br>
choose a meal
<form action="/hacks" method="post">
<body>
<script src="../static/scripts.js"></script>
<button class="btn btn-outline-primary btn-rounded waves-effect" type="submit">brekkie</button>
<button type="submit">lunch</button>
<button type="submit">dinner</button>

</body>
</form>
{% block main %}
I MISS MOM'S FOOD TOO. (MENUDO, WASSGOOD?) BUT HERE'S A LIST OF FOOD ITEMS YOU CAN TRY TO BE CREATIVE WITH. MAKE MAMA PROUD.
<br>
<div class="form-group hidden">
	<label class="control-label" for="menu_chosen">
		SWEET, YOU'RE ABOUT TO GRAB SOME {{ meal }}.
	</label>
	<form>
	{% for foods in menu %}
    <input onclick="test()" type="checkbox" name="ingredient" value=foods> {{foods}} <br>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
</div>
<br>
<br>
{{ string }}
{% endblock %}
